services:
  - type: web
    name: auth-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: MONGO_URI
        fromDatabase:
          name: auth-db
          property: connectionString